/* font-family: 'Playfair Display', serif; */
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.container {
  display: flex;
  margin-bottom: 70px;
}
.meet_susa {
  padding-left: 140px;
  width: 50%;
  margin-top: 40px;
}
.meet_susa img {
  width: 70%;
  margin-top: 20px;
}
.heading {
  font-size: 50px;
  font-family: "Playfair Display", serif;
  padding-left: 15px;
  margin-top: 100px;
  border-left: 5px solid orangered;
  border-radius: 5px;
  color: rgb(48, 201, 252);
}
.paragraph {
  font-family: "Open Sans", sans-serif;
  color: rgb(73, 73, 73);
  margin-bottom: 40px;
  font-weight: 500;
}
.name_color {
  color: rgb(248, 160, 59);
}
.link {
  text-decoration: none;
  background-color: rgb(252, 96, 39);
  color: white;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 8px;
}
.Para_extra {
  font-family: "Open Sans", sans-serif;
  padding-top: 40px;
  color: rgb(107, 104, 104);
}
.goals {
  font-size: 45px;
  font-weight: 900;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: rgb(2, 11, 54);
}
.year_color {
  color: chocolate;
}
.mission {
  margin-bottom: 100px;
}
.all_in_one {
  display: flex;
  width: 80%;
  margin-left: 10%;
}
.digital {
  background-color: rgba(240, 194, 205, 0.603);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  border-radius: 20px;
}
.illustrate_img {
  width: 35%;
  padding-left: 30%;
}
#graphic {
  background-color: rgba(209, 202, 170, 0.692);
}
#book {
  background-color: rgba(180, 219, 144, 0.603);
}
.img_code {
  padding-left: 140px;
  width: 50%;
  background-image: url(img/shape-1.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: left;
}
.img_code img {
  width: 400px;
}
.code_content {
  margin-left: 50px;
  padding-right: 50px;
}
.code_content h2 {
  margin-top: 50px;
  font-size: 40px;
  color: rgb(53, 52, 52);
}
.project_content h2 {
  margin-top: 50px;
  font-size: 40px;
  color: rgb(53, 52, 52);
}
.project_content {
  width: 80%;
  margin-left: 140px;
}
.img_project {
  padding-right: 140px;
  width: 50%;
  background-image: url(img/shape-1.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.img_project img {
  width: 400px;
}
.heading_chart {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  color: rgb(226, 100, 100);
  padding-top: 70px;
  margin-bottom: 80px;
}
.chart_img {
  width: 50%;
}
.chart_img img {
  height: 500px;
  margin-left: 140px;
}
.chart_content h2 {
  font-size: 40px;
  font-weight: 900;
}
.chart_color {
  color: rgb(31, 66, 161);
}
.chart_content {
  margin-top: 80px;
  margin-left: 50px;
}
footer {
  background-color: black;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer h3 {
  color: white;
  font-size: 30px;
  font-family: "Sail", cursive;
}
footer p {
  color: wheat;
  font-style: italic;
}
.last_color {
  color: rgb(190, 136, 240);
}
